<div class="content-wrapper">
  <!--Main content -->
  <section class="content">
    <div class="row">
      <div class="col-md-9">
        <div class="box box-primary" style="padding-bottom : 10px">
          <div class="row">
            <div class="col-md-2 ">
              <div class="box-body box-profile">
                <img style="max-width : 65%" class="profile-user-img img-responsive img-circle img-bordered-sm" src="../../../../assets/images/avatars/avatar5.png"
                  alt="{{customerDetail.info.firstname}}">
              </div>
            </div>
            <div class="col-md-10 ">
              <div class="row" style="margin-top: 5px;margin-bottom: 0px;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="profile-username">
                    {{customerDetail.info.firstName}} {{customerDetail.info.lastName}}
                    <a href="#"><img style="display: inline-block" class="img-responsive img-circle" src="../../../../assets/images/icon/fb.png" /></a>
                  </div>
                  <p class="text-muted">Software Engineer</p> 
                </div>
              </div>
              <div class="row" style="margin-bottom : 1px;">
                <div class="col-xs-12" style="font-size : 11px;margin-top:-22px;margin-bottom:-15px">
                  <label style="margin : 2px;padding : 1px" *ngFor="let tag of customerDetail.info.tags_list; let index = index" class="'label label-success label-xs">
                        <small>{{tag.tag_name}}</small>
                        <a style="color : white;" href="#" (click)="removeTab(index)">x</a>
                  </label>
                  <md-input-container>
                    <input #insearch (click)="autoComplete(insearch)" placeholder="Tag" mdInput value="" [mdAutocomplete]="auto" [formControl]="stateCtrl">
                  </md-input-container>
                  <md-autocomplete #auto="mdAutocomplete">
                    <md-option (click)="selectTag(state)" *ngFor="let state of filteredStates | async" [value]="state">
                      {{ state }}
                    </md-option>
                  </md-autocomplete>
                </div>
              </div>
              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
              <div class="row" style="margin-right : 15px">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div *ngIf="displayInput"><input class="form-control" (click)="setDisplayText(textarea)" value="{{customerDetail.info.note}}" />                    </div>
                  <div *ngIf="displayText">
                    <textarea class="form-control" #textarea>{{customerDetail.info.note}}</textarea>
                    <div class="pull-right" style="margin-top: 10px">
                      <button class="btn btn-success btn-xs">Thay đổi</button>
                      <button (click)="setDisplayInput()" class="btn btn-danger btn-xs">Thoát</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#activity_{{customerDetail.info.id}}" data-toggle="tab">Activity</a></li>
            <li class=""><a href="#profile_{{customerDetail.info.id}}" data-toggle="tab">Profile</a></li>
            <li class="pull-right">
              <button href="#" class="btn" class="btn btn-default dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="true">
                <span class="fa fa-cog"></span>
                <span class="fa fa-caret-down"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="active tab-pane fade in" id="activity_{{customerDetail.info.id}}">
            <ul class="timeline timeline-inverse">
            <li class="time-label">
              <span class="bg-red">
                 10 Feb. 2014
              </span>
            </li>
            <li>
                  <i class="fa fa-envelope bg-blue"></i>
                  <div class="timeline-item">
                    <span class="time">
                      <div class="btn-group pull-right">
                        <button type="button" class="btn btn-default"><span class="fa fa-plus"></span></button>
                        <button type="button" class="btn btn-default"><span class="fa fa-share-square-o"></span></button>
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdown_{{customerDetail.info.id}}" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="true"><span class="fa fa-caret-down"></span></button>
                        <ul class="dropdown-menu" attr.aria-labelledby="dropdown_{{customerDetail.info.id}}">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li role="separator" class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </div>
                  </span>
                  <span class="time"><i class="fa fa-clock-o"></i> 12:05</span>
                  <h3 class="timeline-header"><a href="#">Support Team</a> sent you an email</h3>
                  <div class="timeline-body">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity
                    jajah plickers sifteo edmodo ifttt zimbra. Babblely odeo kaboodle quora plaxo ideeli hulu weebly balihoo...
                  </div>
                  <div class="timeline-footer">
                    <a class="btn btn-primary btn-xs">Read more</a>
                    <a class="btn btn-danger btn-xs">Delete</a>
                  </div>
                  </div>
            </li>
            <li>
              <i class="fa fa-user bg-aqua"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 5 mins ago</span>

                <h3 class="timeline-header no-border"><a href="#">Sarah Young</a> accepted your friend request
                </h3>
              </div>
            </li>
            <li>
              <i class="fa fa-comments bg-yellow"></i>

              <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> 27 mins ago</span>

                <h3 class="timeline-header"><a href="#">Jay White</a> commented on your post</h3>

                <div class="timeline-body">
                  Take me to your leader! Switzerland is small and neutral! We are more like Germany, ambitious and misunderstood!
                </div>
                <div class="timeline-footer">
                  <a class="btn btn-warning btn-flat btn-xs">View comment</a>
                </div>
              </div>
            </li>
            <!-- END timeline item -->
            <li>
              <i class="fa fa-clock-o bg-gray"></i>
            </li>
            </ul>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="profile_{{customerDetail.info.id}}">
            <div class="row">

              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <button class="btn btn-default pull-right">Edit Profile</button>
              </div>

            </div>
            <div class="row">

              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <p class="text-muted">Name</p>
              </div>

              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <p>{{customerDetail.info.firstName}} {{customerDetail.info.lastName}}</p>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <p class="text-muted">Title</p>
              </div>

              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <p>{{customerDetail.info.titleId}}</p>
              </div>

            </div>

            <div class="row">

              <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <p class="text-muted">Email</p>
              </div>

              <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <p> {{customerDetail.info.email}}</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3" style="background-color : white; padding : 15px">
      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <select class="form-control">
              <option>+84</option>
              <option>+1</option>
            </select>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <div class="input-group">
            <input #in type="text" class="form-control text-right" value="{{number_list}}" (keydown)="checkInput($event)">
            <span class="input-group-btn">
                <button (click)="clearCall()" class="btn btn-default" type="button">X</button>
              </span>

          </div>
        </div>
      </div>

      <div class="row" style="margin-top : 10px">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'1')" class="btn btn-block btn-default" href="#">1</a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'2')" class="btn btn-block btn-default" href="#">2</a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'3')" class="btn btn-block btn-default" href="#">3</a>
        </div>

      </div>

      <div class="row" style="margin-top : 10px">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'4')" class="btn btn-block btn-default" href="#">4</a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'5')" class="btn btn-block btn-default" href="#">5</a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'6')" class="btn btn-block btn-default" href="#">6</a>
        </div>

      </div>

      <div class="row" style="margin-top : 10px">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'7')" class="btn btn-block btn-default" href="#">7</a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'8')" class="btn btn-block btn-default" href="#">8</a>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <a (click)="addCall(in,'9')" class="btn btn-block btn-default" href="#">9</a>
        </div>

      </div>

      <div class="row" style="margin-top : 10px">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <a class="btn btn-block btn-success" href="#">Gọi Điện Thoại</a>
        </div>

      </div>

    </div>
</div>

</section>
</div>
