<ng-template [ngIf]="ac.type=='event'">
  <table width="100%" cellspacing="0" cellpadding="0" class="taskNewUI">
    <tbody>
      <tr>
        <td valign="top">
          <div id="leftPanel" style="min-height: 100px !important; max-height: 100%; height: 100%" name="rootcontainer">
            <div id="detailViewButtonLayerDiv" class="cvpadding" style="padding-bottom: 15px;padding : 0px; background-color:#fff; border-bottom: 0px;">
              <table cellpadding="0" cellspacing="0" width="100%" class="dvbtnlayer">
                <tbody>
                  <tr>
                    <td align="center" nowrap="" class="pL10 pR5 pB15 w30 hide"></td>
                    <td class="pL10" id="dv_title" width="65%">
                      <div class="f18 pL40 pR dIB">
                        <span class="svgIconsImg headervalue_Subject detailActivityIcon headervalue_Events_ico mL10 mR10 pA top2 left0"></span>
                        <span id="entityNameInBCView">{{ac.name}}</span>
                      </div>
                      <div class="pL40">
                        <p style="cursor:pointer; height:20px" class="dIB pR20" id="hostNameLinkEventTop">
                          <span class="gray fS13">Tổ chức</span>
                          <span id="ownerName_id" data-zcqa="value_SMCREATORID">Anh Khoa</span>
                        </p>
                      </div>
                    </td>
                    <td nowrap="" class="pL10 dvmo" style="font-size:0">
                      <div id="fixedBtn"></div>
                    </td>
                    <td nowrap="" class="dvmo alignright">
                      <div>
                        <input class="newwhitebtn btn_whitebg dIB" value="Sữa" type="button">
                      </div>
                    </td>
                    <td nowrap="" class="dvmo" style="font-size:0">
                      <div class="alignleft clearB" onclick="sE(event);">
                        <button id="CustomizeTools" data-zcqa="CustomizeTools" class="newbutton mL5 newwhitebtn moredot_h2_35 moredotparentBtn" style="display: inline-block;">
                                    ...
                                    </button>
                      </div>
                  </tr>
                </tbody>
              </table>
              <form>
                <div id="dvinner" class="p30 pb30 ps-container ps-theme-default ps-active-y oH" style="padding:0px;box-sizing: border-box; max-height: 766px; position: relative; overflow: hidden;">
                  <div class="maininfo p0">
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                      <tr>
                        <td>
                          <div class="eventInfo mT20 p20 pB0" style="padding:0">
                            <table border="0" cellspacing="0" cellpadding="0" width="100%">
                              <tbody>
                                <tr>
                                  <td valign="top">
                                    <div class="oH mB10">
                                      <span class="fL">
                                                      <span class="fa fa-calendar fL mR10"></span>                                      Thứ ba, thg 6 27
                                      </span>
                                      <div class="clearB"></div>
                                    </div>
                                    <div class="oH mB10">
                                      <span class="fa fa-clock-o fL mT2"></span>
                                      <span class="fL pL10">  09:00 SA <span class="gray"> - </span> 09:30 SA
                                      <span class="editLinkClass" style="padding-left: 15px; display: none;">
                                                      <a class="link alignright neweditIconSvg" href="javascript:;"></a>
                                                    </span>
                                      </span> <br class="clearB">
                                    </div>
                                    <div class="oH mB10 pR40" style="display:inline-block;">
                                      <span class="fa  fa-location-arrow fL mt2"></span>
                                      <span id="value_LOCATION" class="pL10 fL lh18" style="word-wrap:break-word;max-width:260px;">test</span>
                                      <span id="textarea_LOCATION" class="pL10 fL"></span>
                                      <br class="clearB">
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                            <div class="cb"></div>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <div id="fullInfoDiv" class="whiteBg detailViewContainer contactInfo" style="display:block;">
                      <div class="viewParentSection " id="secDiv_Other_Information">
                        <div class="">
                          <div class="contHeadInfo color_5 sum">Thông Tin Khác</div>
                        </div>
                        <div class="contInfoTab_0 floatL dobColLayout"></div>
                        <div class="">
                          <div class="tabdiv pR uitype_20">
                            <div class="tabDiv pR dblClk" id="mouseArea__SMCREATORID">
                              <span id="labelTD_SMCREATORID" class="labelTab">Người tạo</span>
                              <span id="value_SMCREATORID" class="labelVal mL45"> 
                                            <span purpose="showUserBC"  id="ownerName_id" class="defaultcursor">Anh Khoa</span>
                              <br>
                              <span class="f11 fontSmooth color_7 proxima">Th 2, 26 thg 6 2017 06:23 CH</span>
                              </span>
                            </div>
                          </div>
                          <div class="tabdiv pR uitype_20">
                            <div class="tabDiv pR dblClk" id="mouseArea__SMCREATORID">
                              <span id="labelTD_SMCREATORID" class="labelTab">Người tạo</span>
                              <span id="value_SMCREATORID" class="labelVal mL45"> 
                                            <span purpose="showUserBC"  id="ownerName_id" class="defaultcursor">Anh Khoa</span>
                              <br>
                              <span class="f11 fontSmooth color_7 proxima">Th 2, 26 thg 6 2017 06:23 CH</span>
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="clearB"></div>
                    </div>
                    <div id="eventsAddnInfo" class="rightBox">
                      <div class="rightPanelBox pT20 whiteBg mT20 dB" id="right_invUserDetails">
                        <div>
                          <div class="f14 pB10 bb4">
                            <span class="cP darkSecHead pB0 fL" onclick="Events.viewInviteesPop(-2)">Người tham gia</span>
                            <a href="#" class="link1 fL pL15 f12 mT5">+ Thêm</a>
                          </div>
                          <div class="cB"></div>
                          <div class="dIB">
                            <p class="fL p15 cP">
                              <span id="right_invCnt_invited" class="f28 proximat color_1">0</span>
                              <br>
                              <a href="javascript:void(0)" class="dIB color_3 f13 pB5 proximas" style="min-width:100px;">Đã mời</a></p>
                          </div>
                          <div class="dIB">
                            <p class="fL p15 cP">
                              <span id="right_invCnt_invited" class="f28 proximat color_1">0</span>
                              <br>
                              <a href="javascript:void(0)" class="dIB color_3 f13 pB5 proximas" style="min-width:100px;">Đã mời</a></p>
                          </div>
                          <div class="dIB">
                            <p class="fL p15 cP">
                              <span id="right_invCnt_invited" class="f28 proximat color_1">0</span>
                              <br>
                              <a href="javascript:void(0)" class="dIB color_3 f13 pB5 proximas" style="min-width:100px;">Đã mời</a></p>
                          </div>
                        </div>
                      </div>
                      <div id="eventsRightPanelNotesDiv" class="mT20 pT20 rightPanelBox whiteBg posRel">
                        <div id="noteDetails" name="noteDetails">
                          <table class="w600 detailsNotesSection" cellpadding="0" cellspacing="0">
                            <tbody>
                              <tr>
                                <td>
                                  <div class="ntit mT15" style="cursor: pointer;"> Ghi chép </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          <div id="toggleNotes" class="fL mB20 w600">
                            <div id="fullInfoNoteDiv" class="p10 fL w100per" style="box-sizing: border-box;background:#eff2f4">
                              <div>
                                <div class="pL10 pR10" style="padding-left: 12px;" id="notes-element-parent">
                                  <table width="574" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0px;">
                                    <tbody>
                                      <tr id="title_tr" *ngIf="setDisplayInput">
                                        <td>
                                          <input (click)="displayInput()" class="nobdr w100p p5 lineHgt20 f14" style="width : 100%;height:30px; box-sizing: border-box;"
                                            id="note_process" data-zcqa="notesProcess" placeholder="Thêm ghi chú...">
                                        </td>
                                      </tr>
                                      <tr>
                                        <td id="note_parent_td">
                                          <table width="100%" cellpadding="0" cellspacing="0" id="note_content" *ngIf="setDisplayText">
                                            <tbody>
                                              <tr>
                                                <td id="notesTitleSec"><span class="dim" id="dvcreatenotespan" style="display: none;">Tiêu đề</span>                                                  <span id="dummyspanWidth" class="f14"></span> <span id="showHideTitle"
                                                    class="fL" style="display: none;"> <input type="text" value="" tabindex="1000" maxlength="120" class="addNotesTitle ellipsistext bold lh20 f14" name="note_subject" id="note_subject" onkeypress="if(event.keyCode==13){Notes.addNote();this.blur();}" onblur="Notes.notesTitleChk();" onkeydown="Notes.editNotesTitle('add');" style="display: none;"> </span>
                                                  <div class="cB"></div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div class="w100p">
                                                    <div class="w100p">
                                                      <div class="mentions-input-box">
                                                        <div id="checkreturnoverlay" style="display:none;"></div>
                                                        <div class="mentions" style="display:none;">
                                                          <div></div>
                                                        </div>
                                                        <textarea tabindex="1000" class="nobdr w100p f14 lineHgt20 mT5" style="height:60px; overflow:auto !important; resize:vertical !important;padding: 5px;"
                                                          id="noteContentTxt" data-zcqa="notesContentTxt" onfocus="bindMentions(this,'noteContentTxt');"
                                                          placeholder="Thêm ghi chú" data-mentions-input="true">
                                                          </textarea>
                                                        <div class="mentions-autocomplete-list" style="display: none;"></div>
                                                      </div>
                                                    </div>
                                                    <div class="pT10">
                                                      <div class="fL pL5 pT10" id="addTitleSpan" style="line-height:14px;"><span class="fL pointer f12 notesgray" data-zcqa="notesaddTitle" onclick="Notes.initNote('addtitle')">Thêm tiêu đề</span></div>
                                                      <div class="fR">
                                                        <input type="button" tabindex="1002" class="newgraybtn btn_whitebg dIB" id="cancel_comment" style="padding: 6px 15px;" value="Hủy bỏ"
                                                          (click)="displayText()">
                                                        <input tabindex="1001" style="padding: 6px 15px;color: white!important;border-radius: 2px!important;background-color: #42a2eb!important;border: solid 1px #42a2eb!important;box-shadow: none!important;"
                                                          type="button" class="primarybtn newgraybtn btn_whitebg dIB mR0" value="Lưu">
                                                      </div>
                                                      <div class="cB"></div>
                                                    </div>
                                                  </div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div id="alreadyAttached"></div>
                                                </td>
                                              </tr>
                                              <tr>
                                                <td>
                                                  <div id="addAttachment"> <span id="showErrorMsg"></span>
                                                    <div class="addAttachmentCtnNewFeeds" id="addAttachmentCtnNewFeeds"></div>
                                                    <div id="noteMoreFiles" class="attachzone"></div>
                                                  </div>
                                                </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 3px;">
                    <div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                  </div>
                  <div class="ps-scrollbar-y-rail" style="top: 0px; height: 766px; right: 3px;">
                    <div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 739px;"></div>
                  </div>
                </div>
              </form>
            </div>
          </div>
          </td>
      </tr>
    </tbody>
  </table>
</ng-template>
<ng-template [ngIf]="ac.type=='call'">
    <table width="100%" cellspacing="0" cellpadding="0" class="taskNewUI">
      <tbody>
        <tr>
          <td valign="top">
            <div id="leftPanel" style="min-height: 100% !important;  height: 100%;" name="rootcontainer">
              <div id="detailViewButtonLayerDiv" class="cvpadding" style="padding-bottom: 15px;padding:0px; background-color:#fff; border-bottom: 0px;">
                <table>
                  <tr>
                    <td class="pL10" id="dv_title" class="dvTitle" width="65%">
                      <span id="headervalue_SUBJECT">
                                <span class="fa fa-phone mR10"></span>
                      <span id="headervalue_SUBJECT" class="busniess_card_Hover ">
                                    <span class="bCardHover" data-zcqa="" id="subvalue_SUBJECT">{{ac.name}}</span>
                      </span>
                      </span>
                      &nbsp;
                      <span id="flw_spn">
                                  <a class="graytag cP"> Theo dõi </a> 
                                </span>
                    </td>
                    <td nowrap="" class="pL10 dvmo" style="font-size:0">
                      <div id="fixedBtn"></div>
                    </td>
                    <td nowrap="" class="dvmo alignright">
                      <div>
                        <input class="newwhitebtn dIB" type="button" value="Sửa">
                      </div>
                    </td>
                    <td nowrap="" class="dvmo alignright">
                      <div>
                        <input class="newwhitebtn dIB" type="button" value="...">
                      </div>
                    </td>
                    <td width="30" style=" width:100px !important" nowrap="" id="navigtd">
                      <div class="alignright pT8"> </div>
                    </td>
                  </tr>
                </table>
              </div>
              <form>
                <div id="dvinner" class="p30 pT15 pb30 ps-container ps-theme-default ps-active-y oH" style="padding:0px;box-sizing: border-box; position: relative; overflow: hidden; padding : 10px">
                  <div>
                    <div id="bcWraperDiv" class="maininfo  w100p dIB pR">
                      <table>
                        <tbody>
                          <tr>
                            <td class="bcDropDownTd pR">
                              <span class="bcDropDownIcon fL">Loại Cuộc gọi</span>
                            </td>
                            <td class="dvValueTxt bcEditIcon dblClk">
                              <span id="headermouseArea__CALLTYPE" style="display: inline;"></span>
                              <span id="headervalue_CALLTYPE" class="busniess_card_Hover ">
                                                <span class="bCardHover" data-zcqa="" id="subvalue_CALLTYPE">Đi</span>
                              </span>
                              <span id="headertextarea_CALLTYPE"></span>
                            </td>
                          </tr>
                          <tr>
                            <td class="bcDropDownTd pR">
                              <span class="bcDropDownIcon fL">Loại Cuộc gọi</span>
                            </td>
                            <td class="dvValueTxt bcEditIcon dblClk">
                              <span id="headermouseArea__CALLTYPE" style="display: inline;"></span>
                              <span id="headervalue_CALLTYPE" class="busniess_card_Hover ">
                                                <span class="bCardHover" data-zcqa="" id="subvalue_CALLTYPE">Đi</span>
                              </span>
                              <span id="headertextarea_CALLTYPE"></span>
                            </td>
                          </tr>
                          <tr>
                            <td class="bcDropDownTd pR">
                              <span class="bcDropDownIcon fL">Người Sửa</span>
                            </td>
                            <td class="dvValueTxt bcEditIcon dblClk">
                              <span id="headermouseArea__CALLTYPE" style="display: inline;"></span>
                              <span id="headervalue_CALLTYPE" class="busniess_card_Hover ">
                                                <span class="bCardHover" data-zcqa="" id="subvalue_CALLTYPE">QUOC TOAN</span>
                              <br/>
                              <span class="f11 fontSmooth color_7 proxima">Th 4, 21 thg 6 2017 07:21 CH</span>
                              </span>
                              <span id="headertextarea_CALLTYPE"></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="cB"></div>
                    <div id="noteDetails" name="noteDetails" class="fL">
                      <table class="w600 detailsNotesSection" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td>
                              <div class="ntit mT15" style="cursor: pointer;"> Ghi chép </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <div id="toggleNotes" class="fL mB20 w600">
                        <div class="singleNoteBorder addedNotesList pT7 pB7">
                          <table cellpadding="0" cellspacing="0" class="w100p">
                            <tbody>
                              <tr class="n pR w100p pB0">
                                <td class="aligntop notesUserImg">
                                  <span class="feedsImgHolder16 dIB mT7 pL5">
                                                    <img align="absmiddle" src="//contacts.zoho.com/file?ID=648497680&amp;fs=thumb">
                                                  </span>
                                </td>
                                <td class="pL10 pR10 w100p pR">
                                  <div class="pB5 cBafter">
                                    <pre id="ncontent_2618607000000123018" wrap="soft" class="pre f14 fL cB col333 p5 pT10 ">Xử lý yêu cầu</pre>
                                    <span style="clear:left;"></span>
                                    <div class="mT5 f12 gray2 fL cB lh20 notesBtmDet">
                                      <span class="notesModdet fL">
                                                        <span class="notesgray fL ellipsistext cD" style="max-width: 100px;" title="Yêu cầu">Yêu cầu</span>
                                      <span class="pL5 pR5 fL">-</span>
                                      <a class="f12 notesbluetxt fL smalledit ellipsistext" style="max-width: 100px;" target="_blanks" title="Tiêu đề yêu cầu">Tiêu đề yêu cầu</a>
                                      </span>
                                      <span class="fL pL10 pR10 notesDot">•</span>
                                      <a href="javascript:;" class="fL smalledit notesgray ellipsistext" style="max-width: 100px;"> Thêm Ghi chú</a>
                                      <span class="fL pL10 pR10 notesDot">•</span>
                                      <span class="fL pR5 notesgray dIB" data-title="thg 6 21 07:20 CH">
                                                        <span class="fa fa-clock-o mT2 fL mR5"></span>                                      Tháng 6 21
                                      </span>
                                      <span class="fL pR5 notesgray dIB">bởi</span>
                                      <span class="fL pR5 notesgray dIB" data-title="Quoc Toan">Quoc Toan</span>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="singleNoteBorder addedNotesList pT7 pB7">
                          <table cellpadding="0" cellspacing="0" class="w100p">
                            <tbody>
                              <tr class="n pR w100p pB0">
                                <td class="aligntop notesUserImg">
                                  <span class="feedsImgHolder16 dIB mT7 pL5">
                                                    <img align="absmiddle" src="//contacts.zoho.com/file?ID=648497680&amp;fs=thumb">
                                                  </span>
                                </td>
                                <td class="pL10 pR10 w100p pR">
                                  <div class="pB5 cBafter">
                                    <pre id="ncontent_2618607000000123018" wrap="soft" class="pre f14 fL cB col333 p5 pT10 ">Xử lý yêu cầu</pre>
                                    <span style="clear:left;"></span>
                                    <div class="mT5 f12 gray2 fL cB lh20 notesBtmDet">
                                      <span class="notesModdet fL">
                                                        <span class="notesgray fL ellipsistext cD" style="max-width: 100px;" title="Yêu cầu">Yêu cầu</span>
                                      <span class="pL5 pR5 fL">-</span>
                                      <a class="f12 notesbluetxt fL smalledit ellipsistext" style="max-width: 100px;" target="_blanks" title="Tiêu đề yêu cầu">Tiêu đề yêu cầu</a>
                                      </span>
                                      <span class="fL pL10 pR10 notesDot">•</span>
                                      <a href="javascript:;" class="fL smalledit notesgray ellipsistext" style="max-width: 100px;"> Thêm Ghi chú</a>
                                      <span class="fL pL10 pR10 notesDot">•</span>
                                      <span class="fL pR5 notesgray dIB" data-title="thg 6 21 07:20 CH">
                                                        <span class="fa fa-clock-o mT2 fL mR5"></span>                                      Tháng 6 21
                                      </span>
                                      <span class="fL pR5 notesgray dIB">bởi</span>
                                      <span class="fL pR5 notesgray dIB" data-title="Quoc Toan">Quoc Toan</span>
                                    </div>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                      <div id="fullInfoNoteDiv" class="p10 fL w100per" style="box-sizing: border-box;background:#eff2f4">
                        <div class="pL10 pR10" style="padding-left: 12px;" id="notes-element-parent">
                          <table width="574" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0px;">
                            <tbody>
                              <tr id="title_tr" *ngIf="setDisplayInput">
                                <td>
                                  <input (click)="displayInput()" class="nobdr w100p p5 lineHgt20 f14" style="width : 100%;height:30px; box-sizing: border-box;"
                                    id="note_process" data-zcqa="notesProcess" placeholder="Thêm ghi chú...">
                                </td>
                              </tr>
                              <tr>
                                <td id="note_parent_td">
                                  <table width="100%" cellpadding="0" cellspacing="0" id="note_content" *ngIf="setDisplayText">
                                    <tbody>
                                      <tr>
                                        <td id="notesTitleSec"><span class="dim" id="dvcreatenotespan" style="display: none;">Tiêu đề</span>
                                          <span id="dummyspanWidth" class="f14"></span> <span id="showHideTitle" class="fL"
                                            style="display: none;"> <input type="text" value="" tabindex="1000" maxlength="120" class="addNotesTitle ellipsistext bold lh20 f14" name="note_subject" id="note_subject" onkeypress="if(event.keyCode==13){Notes.addNote();this.blur();}" onblur="Notes.notesTitleChk();" onkeydown="Notes.editNotesTitle('add');" style="display: none;"> </span>
                                          <div class="cB"></div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div class="w100p">
                                            <div class="w100p">
                                              <div class="mentions-input-box">
                                                <div id="checkreturnoverlay" style="display:none;"></div>
                                                <div class="mentions" style="display:none;">
                                                  <div></div>
                                                </div>
                                                <textarea tabindex="1000" class="nobdr w100p f14 lineHgt20 mT5" style="height:60px; overflow:auto !important; resize:vertical !important;padding: 5px;"
                                                  id="noteContentTxt" data-zcqa="notesContentTxt" onfocus="bindMentions(this,'noteContentTxt');"
                                                  placeholder="Thêm ghi chú" data-mentions-input="true">
                                                          </textarea>
                                                <div class="mentions-autocomplete-list" style="display: none;"></div>
                                              </div>
                                            </div>
                                            <div class="pT10">
                                              <div class="fL pL5 pT10" id="addTitleSpan" style="line-height:14px;"><span class="fL pointer f12 notesgray" data-zcqa="notesaddTitle" onclick="Notes.initNote('addtitle')">Thêm tiêu đề</span></div>
                                              <div class="fR">
                                                <input type="button" tabindex="1002" class="newgraybtn btn_whitebg dIB" id="cancel_comment" style="padding: 6px 15px;" value="Hủy bỏ"
                                                  (click)="displayText()">
                                                <input tabindex="1001" style="padding: 6px 15px;color: white!important;border-radius: 2px!important;background-color: #42a2eb!important;border: solid 1px #42a2eb!important;box-shadow: none!important;"
                                                  type="button" class="primarybtn newgraybtn btn_whitebg dIB mR0" value="Lưu">
                                              </div>
                                              <div class="cB"></div>
                                            </div>
                                          </div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div id="alreadyAttached"></div>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <div id="addAttachment"> <span id="showErrorMsg"></span>
                                            <div class="addAttachmentCtnNewFeeds" id="addAttachmentCtnNewFeeds"></div>
                                            <div id="noteMoreFiles" class="attachzone"></div>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                    <div class="cB"></div>
                  </div>
                  <div id="dv_cus_links" class="pB30"></div>
                  <div>
                    <div style="font-size : 15px" class="proxima f16 pB15 mB3"> Hành động Sắp tới </div>
                  </div>
                </div>
              </form>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
</ng-template>
