body {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #111;
  background-color: #fff;
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
}

input,
textarea {
  outline: none;
}

#fullInfoNoteDiv {
  padding-left: 0;
}

#fullInfoNoteDiv {
  min-height: 54px;
  padding: 12px 0!important;
  margin-bottom: 15px!important;
}

#fullInfoNoteDiv {
  padding: 12px 12px 12px 0;
  border-radius: 2px;
}

#fullInfoNoteDiv {
  padding-left: 15px;
}

pre {
  background-color: #fff;
  border: 0;
}

select,
input,
form,
textarea,
pre {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

user agent stylesheet pre,
xmp,
plaintext,
listing {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0px 1em;
}

img {
  border: 0;
}

html {
  font-size: 14px;
  font-size: calc(.775rem - -.25 *(100vw - 20rem) / 100);
}

.actnotes pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0;
  font-size: 1rem;
  line-height: 20px;
  width: 490px;
}

.dvTitle {
  word-wrap: break-word;
  font-size: 1.714rem;
  color: #000;
  line-height: 28px;
  font-family: "ProximaNovaLight", arial, sans-serif;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

select,
input,
form,
textarea,
pre {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

form {
  display: block;
  margin-top: 0em;
}

dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
}

user agent stylesheet p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

span {
  outline: none;
}

div {
  display: block;
}

a {
  color: #2C7BD0;
  outline: none medium;
  text-decoration: none;
}

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  list-style: none outside none;
}

li {
  background: none;
  list-style: none outside none;
  padding: 0 0 3px 20px;
  display: list-item;
  text-align: -webkit-match-parent;
}

table {
  width: 100%;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: grey;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

td,
th {
  display: table-cell;
  vertical-align: inherit;
}


/* 1 */

.fs13,
.fS13 {
  font-size: .929rem;
}

.gray {
  color: #808080;
}

.colorlightGray2 {
  color: #a09f9f;
}

.font16 {
  font-size: 16px;
}

.f15 {
  font-size: 1.071rem;
}

.colorKsmalltext {
  color: #7a7a7a;
}

.grayDate {
  width: 32%;
  font-size: 11px;
  margin-top: 2px;
}

.newbutton,
.primarybtn,
.newSaveBtn,
.onboardBtn,
.newCancelBtn,
.newwhitebtn,
.linkReodr,
.newgreybtn,
.graybtn,
.greenbtn,
.redbtn,
.primaryflatbtn,
.newgraybtn,
.outlineprimaryflat,
.outlineprimary,
.newCancelBtn,
.newInsBtn,
.dvcbtn,
.greenFlatBtn {
  border-radius: 2px;
  font-size: .929rem;
  padding: 7.5px 15px;
  margin-right: 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-font-smoothing: auto;
  font-family: "ProximaNovaRegular", arial, sans-serif;
  background: transparent;
  cursor: pointer;
  outline: none;
}

.smallPlusGraybtn {
  background: #fff url(//img.zohostatic.com/crm/1188059/images/svgicons.svg) no-repeat -309px -1075px;
  padding-left: 30px;
  border: solid 1px #c4c4c4;
}

.alignright {
  text-align: right!important;
}

.moredotparentBtn {
  padding: 7px;
  width: 50px;
  text-align: center;
  height: 33px;
  display: inline-block;
}

.smallPlusGraybtn {
  display: inline-block;
}

#eventsRightPanelNotesDiv {
  padding-right: 0;
}

.mB2 {
  margin-bottom: 2px;
}

.pR,
.posRel,
.posrel {
  position: relative;
}

.cB,
.cb,
.clearB {
  clear: both;
}

.newwhitebtn,
.newgreybtn,
.linkReodr,
.newCancelBtn,
.dvcbtn {
  background-color: #fff;
  color: #3c3c3c;
  border: solid 1px #c4c4c4;
}

.graytag {
  background: #e9e9e9;
  color: #888;
  text-shadow: 0 0 1px #fff;
}

#detailViewButtonLayerDiv table.dvbtnlayer tr td {
  vertical-align: top;
  word-break: break-word;
}

.graytag,
.greentag,
.normaltag {
  font-size: .786rem;
  font-weight: normal;
  padding: 2px 5px;
  border-radius: 2px;
  display: inline-block;
}

.lh18 {
  line-height: 18px;
}

.left0 {
  left: 0;
}

span.dvTitle span>span,
span.dvSubTitle span>span,
#entityNameInBCView {
  display: inline-block;
}

.mL10,
.mlft {
  margin-left: 10px!important;
}

.dvbtnlayer .dvTitle span {
  vertical-align: bottom;
}

.mR10 {
  margin-right: 10px!important;
}

.neweditIconSvg {
  float: right;
  background: #fff url(//img.zohostatic.com/crm/1188059/images/svgicons.svg) no-repeat -140px -473px;
  width: 12px;
  height: 12px;
  padding: 3px;
  border-radius: 50%;
}

.mt2,
.mT2 {
  margin-top: 2px;
}

.top2 {
  top: 2px;
}

.detailActivityIcon {
  display: none;
}

.headervalue_Potentials_ico,
.headervalue_Accounts_ico,
.headervalue_Tasks_ico,
.headervalue_Events_ico,
.headervalue_Calls_ico {
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  background: transparent url(//img.zohostatic.com/crm/1188059/images/svgicons.svg) no-repeat 0 0;
}

.fontSmoothAntialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.EventsActivity+span,
.CallsActivity+span,
.TasksActivity+span {
  padding: 0 0 0 5px!important;
}

.w75per {
  width: 75%;
}

.mL10,
.mlft {
  margin-left: 10px!important;
}

.font8 {
  font-size: 8px;
}

.mt2,
.mT2 {
  margin-top: 2px;
}

.kvtlistbgheader {
  background: #fff
}

.overflhidden {
  overflow: hidden;
}

.kvtlistbg {
  overflow: hidden;
  border-right: 1px solid #B4B4B4;
}

.graybtndark,
.newgraybtn {
  background-color: #fff;
  color: #3c3c3c;
  border: solid 1px #c4c4c4;
}

primarybtn,
.rep_primarybtn,
.newSaveBtn {
  color: white!important;
  border-radius: 2px!important;
  background-color: #42a2eb!important;
  border: solid 1px #42a2eb!important;
  box-shadow: none!important;
}

.positionRelative {
  position: relative
}

actnotes pre {
  overflow: auto;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0;
  font-size: 1rem;
  line-height: 20px;
  width: 490px;
}

.pT10 {
  padding-top: 10px;
}

.lightbdr {
  border-color: #ffffff !important;
  border-color: #d5d5d5 !important;
}

.leftContainerHead {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pB5 {
  padding-bottom: 5px!important;
}

.proximas,
.semibold,
.proximaBold,
.proximabold {
  font-family: ProximaNovaLtSemibold, Arial, sans-serif!important;
}

.pT27 {
  padding-top: 27px;
}

.h20 {
  height: 20px;
}

.pR40 {
  padding-right: 40px;
}

.w85per {
  width: 85%;
}

.pR0 {
  padding-right: 0px
}

.p0 {
  padding: 0px;
}

.m0 {
  margin: 0px;
}

.pR5per {
  padding-right: 5%;
}

.f12 {
  font-size: .857rem;
}

.pL15 {
  padding-left: 15px;
}

.cursorpointer {
  cursor: pointer;
}

.p15 {
  padding: 15px;
}

.link1 {
  color: #2C7BD0;
  cursor: pointer;
}

.leftContainerctn ul li {
  margin-top: 1px;
  margin-bottom: 1px;
}

.darkSecHead {
  font-family: ProximaNovaLtSemibold, Arial, sans-serif!important;
  font-size: 1.214rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-bottom: 10px;
  display: inline-block;
  color: #222;
}

.p20 {
  padding: 20px;
}

.mB10 {
  margin-bottom: 10px;
}

.pL5per {
  padding-left: 5%;
}

.pB0 {
  padding-bottom: 0!important;
}

.ellipsistext {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.overflhidden {
  overflow: hidden !important;
}

.bordergraybot {
  border-bottom: 1px solid #eeeeee;
}

.mt15,
.mT15 {
  margin-top: 15px;
}

.actnotes {
  width: 500px;
}

.dIB {
  display: inline-block;
}

.w600 {
  width: 600px;
}

#remainingList .relListHead,
.ntit {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ProximaNovaLtSemibold, arial, sans-serif!important;
  font-style: normal!important;
  font-size: 17px;
  display: inline-block;
  color: #222!important;
  padding-bottom: 10px;
}

.pB20 {
  padding-bottom: 20px;
}

#eventsRightPanelNotesDiv #noteDetails {
  width: 550px;
  padding-right: 10px;
}

.pT20 {
  padding-top: 20px;
}

.w100per {
  width: 100%;
}

.color_3,
.col333,
.grayTxt2 {
  color: #333;
}

.f13 {
  font-size: .929rem!important;
}

.CallsActivity {
  width: 21px;
  height: 22px;
  margin-left: 15px;
  display: inline-block;
  padding: 0!important;
}

.mW43per {
  max-width: 43%;
  width: 42%\9;
}

div.maininfo table#tableId tr td {
  vertical-align: top;
  padding: 3px 0;
}

.bcDropDownTd {
  color: #666;
}

#remainingList .relListHead,
.ntit {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ProximaNovaLtSemibold, arial, sans-serif!important;
  font-style: normal!important;
  font-size: 17px;
  display: inline-block;
  color: #222!important;
  padding-bottom: 10px;
}

.mB20 {
  margin-bottom: 20px;
}

.mt15,
.mT15 {
  margin-top: 15px;
}

#taskKanbanViewContainer .fL {
  float: left !important;
}

div.maininfo table#tableId tr td {
  vertical-align: top;
  padding: 3px 0;
}

.maininfo .dvValueTxt span span {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  max-width: 415px;
  padding-right: 10px;
}

.maininfo .dvValueTxt span {
  max-width: 450px;
  float: none;
  padding-right: 10px;
  display: inline-block;
  vertical-align: middle;
}

.maininfo .dvValueTxt {
  width: 500px;
  display: inline-block;
  min-height: 20px;
}

.bcEditIcon {
  width: auto!important;
  max-width: 500px!important;
  min-width: 150px!important;
  display: block!important;
}

.dvValueTxt,
.dvValueTxt a {
  color: #000;
  font-size: 1rem;
  line-height: 19px;
  padding: 6px 0 0 0;
  margin-right: 6px;
}

.dvValueTxt,
.dvValueTxt a {
  color: #000!important;
  font-size: 1rem;
  padding: .429rem .429rem 0 0;
  line-height: 1.357rem;
}

.oH {
  overflow: hidden;
}

.p30 {
  padding: 30px;
}

#dvinner {
  padding-left: 58px;
}

.pb30 {
  padding-bottom: 30px;
}

.pT15 {
  padding-top: 15px;
}

.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden!important;
  -ms-overflow-style: none;
}

.tkvPriority {
  text-transform: uppercase;
  max-width: 16%;
  padding: 2px 5px;
}

.font11 {
  font-size: 11px;
}

.fR,
.zso_floatRight {
  float: right!important;
}

.eventInfo {
  border-bottom: 1px solid #eee;
  background: #fafafa;
}

.w65per {
  width: 65%;
}

.mT20 {
  margin-top: 20px;
}

.kanbanTaskDetailLeftContainer .kventitycolumn,
.kanbanTaskDetailCenterContainer .entitypopup,
.kanbanTaskDetailRightContainer .kventityinfo {
  background-color: transparent;
  border-bottom: none;
  border-radius: 0px;
  border-top: none;
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: none;
  width: auto;
  height: 100%;
  overflow: initial;
}

.pA {
  position: absolute;
}

.headervalue_Subject.detailActivityIcon,
.headervalue_Calls_ico,
.headervalue_Events_ico,
.headervalue_Tasks_ico {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle!important;
}

.headervalue_Events_ico {
  background-position: -127px -66px;
}

.f16,
.f17,
.f18,
.f20,
.f21,
.f22,
.f24,
.f28,
.f36 {
  font-family: "ProximaNovaLight", Arial, sans-serif;
}

.f18 {
  font-size: 1.286rem;
}

.pL40 {
  padding-left: 40px;
}

.pR20 {
  padding-right: 20px;
}

.pR,
.posRel,
.posrel {
  position: relative;
}

#leftPanel {
  padding: 0;
  min-height: 800px;
  height: auto\9!important;
  height: 800px\9;
  background-color: #fff;
}

.cvpadding {
  padding: 20px 0 10px 0;
  background-color: #f8f8f8;
  border-bottom: 1px solid #eee;
}

#detailViewButtonLayerDiv {
  margin-bottom: 4px;
  padding-bottom: 5px;
  min-width: 500px;
}

.fL,
.floatL,
.fl {
  float: left;
}

.contInfoTab_0,
.contInfoTab_1 {
  width: 45%;
}

.contInfoTab_0,
.contInfoTab_1 {
  width: 48%;
}

.w30 {
  width: 30px;
}

.contHeadInfo:first-child,
.quickContHeadInfo {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: ProximaNovaLtSemibold, arial, sans-serif!important;
  font-style: normal!important;
  font-size: 17px;
  color: #222;
  padding-bottom: 5px;
}

.contInfoTab_0,
.contInfoTab_1 {
  width: 48%;
}

.tabDiv>span {
  padding-top: 14px;
  padding-bottom: 5px;
  min-height: 17px;
}

.denyHead,
.warningHd,
.fontSmooth,
.customSelectFrm .chosen-choices li.search-choice {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.whiteBg {
  background: #FFF!important;
}

.bb4 {
  border-bottom: 1px solid #eee;
}

.pB10 {
  padding-bottom: 10px!important;
}

.f14 {
  font-size: 1rem!important;
}

.dB,
.clearFix {
  display: block;
}

.color_7,
.color7,
.col777,
.greytxt777 {
  color: #777;
}

.defaultcursor {
  cursor: default;
}

.proxima {
  font-family: ProximaNovaRegular!important;
}

.labelVal {
  font-size: 1rem;
  display: inline-block;
  vertical-align: bottom;
  color: #222;
  box-sizing: border-box;
  width: 55%;
  word-wrap: break-word;
  padding-top: 20px;
  padding-bottom: 5px;
  position: relative;
  top: 1px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.labelTab {
  font-size: 1rem;
  color: #666;
  display: inline-block;
  width: 40%;
  padding-right: 15px;
  vertical-align: top;
  word-wrap: break-word;
  padding-top: 20px;
  padding-bottom: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#noteDetails .smalledit {
  visibility: visible!important;
}

.addedNotesList .feedsImgHolder16 img {
  border-radius: 25px;
}

.feedsImgHolder16 img {
  width: 25px;
}

.notesDot {
  color: #bfbfbf;
}

#noteDetails .smalledit {
  visibility: visible!important;
}

.w100p {
  width: 100%!important;
}

.feedsImgHolder16 {
  width: 25px;
  height: 25px;
}

.pL5 {
  padding-left: 5px;
}

.aligntop {
  vertical-align: top;
}

.actnotes {
  width: 500px;
}

.mT7 {
  margin-top: 7px !important;
}

.tabDiv {
  border-bottom: 1px solid #f0f0f0;
}

.singleNoteBorder {
  border-left: 2px solid transparent;
}

.addedNotesList {
  border-bottom: 1px solid #eee;
  position: relative;
}

.pB7 {
  padding-bottom: 7px;
}

.contInfoTab_1 {
  float: right!important;
}

.color_5,
.newUilable {
  color: #555;
}

.contHeadInfo {
  padding-top: 10px;
}

.pR5 {
  padding-right: 5px;
}

.pB15 {
  padding-bottom: 15px;
}

#preHTMLContainer .contactInfo .mT50 {
  margin-top: 30px!important;
}

.mT50 {
  margin-top: 50px;
}

.pL10 {
  padding-left: 10px;
}

#detailViewButtonLayerDiv {
  margin-bottom: 4px;
  padding-bottom: 5px;
  min-width: 500px;
}

.pT35 {
  padding-top: 35px;
}

#dv_title {
  padding-top: 10px;
}

tab table.dvbtnlayer tr td {
  vertical-align: top;
  word-break: break-word;
}

.entitypopup {
  background-color: #f0f0f0;
  border-radius: 3px;
  border-top: 1px solid #fff;
  float: left;
  margin: 0 5px;
  padding: 2px;
  width: 750px;
  height: 770px;
  overflow: auto;
  display: block;
}

.hide {
  display: none !important;
}

.kanbanTaskDetailContainer {
  background-color: #fff;
  float: left;
  overflow: visible;
}

.kanbanTaskDetailctn {
  overflow: initial;
  height: 100%;
}

.kanbanTaskDetailCenterContainer {
  box-shadow: rgb(238, 238, 238) -3px 0px 3px 2px;
  -webkit-box-shadow: rgb(238, 238, 238) -3px 0px 3px 2px;
  background: url(//img.zohostatic.com/crm/1188059/images/border.png) right center repeat-y;
  height: 100%;
}

.mB1 {
  margin-bottom: 1px;
}

.fl {
  float: left;
}

.vmiddle {
  vertical-align: middle;
}

.EventsActivity {
  width: 17px;
  height: 19px;
  margin-right: 5px;
  margin-left: 15px;
  display: inline-block;
}

.mw35per {
  max-width: 35%;
}

.leftContainerctn .kt_smalltxt {
  font-family: ProximaNovaRegular, arial, sans-serif;
  color: #7a7a7a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  vertical-align: bottom;
  font-size: 0.857rem;
}

.kt_smalltxt {
  font-size: 11px;
  color: #999;
  -webkit-font-smoothing: antialiased;
  line-height: 15px;
}

.leftheaderBack {
  height: 17px;
  width: 32px;
  display: none;
  background-position: -133px -270px;
  position: absolute;
  top: 21px;
  margin-top: 8px;
  right: 10px;
  background-image: url(//img.zohostatic.com/crm/1188059/images/svgicons.svg) !important;
}

.ps-container.ps-active-x>.ps-scrollbar-x-rail,
.ps-container.ps-active-y>.ps-scrollbar-y-rail {
  display: block;
  background-color: transparent;
}

.ps-container .ps-scrollbar-y {
  width: 8px !important;
}

.ps-container>.ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 3px;
  width: 8px;
}

.maininfo {
  padding: 5px 0 0 0;
}

.ps-container>.ps-scrollbar-x-rail>.ps-scrollbar-x {
  position: absolute;
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  bottom: 0;
  height: 8px;
}

.ps-container .ps-scrollbar-x {
  height: 8px !important;
}

.mB3 {
  margin-bottom: 3px;
}

.f16,
.f17 {
  font-size: 1.143rem;
}

.mt2,
.mT2 {
  margin-top: 2px;
}

.leftContainerctn {
  position: relative;
  overflow: auto;
  height: 500px;
}

.nobdr {
  border: 0!important;
}

.tb_newmenu .sel {
  border-bottom: 1px solid #444;
}

.f12 {
  font-size: .857rem;
}

.tl_by,
.tl_ow,
.tl_dat {
  color: #777;
  font-size: .857rem!important;
  padding-right: 5px;
  font-family: ProximaNovaLight, Arial, sans-serif;
}

.tl_by,
.tl_ow,
.tl_dat {
  color: #777;
  font-size: .857rem!important;
  padding-right: 5px;
  font-family: ProximaNovaLight, Arial, sans-serif;
}

.krp_entity_timeline_subject {
  font-size: 13px;
  color: #282828;
  cursor: pointer;
  line-height: 17px;
  word-wrap: break-word;
}

.TimeLineHighTxt {
  color: #2c7bcf;
}

.tl_s {
  padding: 0 5px;
  color: #777;
}

.krp_entity_timeline_subject {
  font-size: .929rem!important;
  line-height: 1.286rem!important;
}

.tb_newmenu a {
  display: inline-block;
  padding: 14px 10px 6px;
  margin: 0;
  font-size: 1rem;
  cursor: pointer;
  float: left;
  margin-right: 5px;
  font-family: "ProximaNovaThin", Arial, sans-serif;
  position: relative;
  margin-bottom: -1px;
  color: #222;
}

.notesgray {
  color: #a2a2a2;
}

.cD {
  cursor: default!important;
}

.f12 {
  font-size: .857rem;
}

.lh20 {
  line-height: 1.429rem;
}

.krp_entity_timeline_item_content {
  background-color: #fff;
  padding: 0 10px 6px 0;
  position: relative;
  border-bottom: 1px solid #EEE;
  box-shadow: none;
}

.greyText,
.color_9,
.gray2 {
  color: #999;
}

.notesBtmDet {
  padding-left: 6px;
}

.p5 {
  padding: 5px;
}

.krp_entity_timeline_item:last-child {
  border-left: 0 solid #eee;
}

.krp_entity_timeline_item:first-child {
  margin-top: 20px;
}

.krp_entity_timeline_item {
  padding: 0 15px 25px 15px;
  border-left: 0 solid #eee;
  position: relative;
}

#fullInfoNoteDiv {
  padding-left: 0;
}

.nobdr {
  border: 0!important;
}

.pB30 {
  padding-bottom: 30px!important;
}

.lineHgt20 {
  line-height: 20px;
}

.tb_newmenu {
  position: relative;
  border-bottom: 1px solid #eaeaea;
  padding-left: 20px;
}

.pR10,
.pr10 {
  padding-right: 10px!important;
}

#fullInfoNoteDiv {
  min-height: 54px;
  padding: 12px 0!important;
  margin-bottom: 15px!important;
}

#fullInfoNoteDiv {
  padding: 12px 12px 12px 0;
  border-radius: 2px;
}

#fullInfoNoteDiv {
  padding-left: 15px;
}
