<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1> Customers <small>it all starts here</small></h1>
    <ol class="breadcrumb">
      <li> Dashboard</li>
      <li class="active">Customers</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">

    <!-- Default box -->
    <div class="box">
      <div class="box-body">
        <div class="row" class="listviewBorder">
          <div class="col-md-3 padding-0 filter-module">
            <table class="table table-bordered">
              <tr class="active">
                <th [hidden]="hiddenSearchInput2" (click)="setDisplayInput()">FILTER BY ... <i class="fa fa-search pull-right"></i> </th>
                <th [hidden]="hiddenSearchInput">
                  <div class="input-group margin">
                    <input class="form-control">
                    <span class="input-group-addon">
                    <a href="#"><span class="fa fa-search"></span></a>
                    </span>
                  </div>
                </th>
              </tr>
              <tr class="with-border-top">
                <td>
                  <div class="checkbox margin-0">
                    <md-checkbox [(ngModel)]="nameCheck" class=""> Name </md-checkbox>
                    <div [hidden]="!nameCheck" class="filter-details">
                      <select #slName name="" id="" class="form-control">
                        <option value="like">Có Chứa</option>
                        <option value="unlike">Không Chứa</option>
                        <option value="="> = </option>
                        <option value="<>"> <> </option>
                        <option value="null">Còn Trống</option>
                        <option value="full">Không Trống</option>
                        <option value="begin">Bắt Đầu Với</option>
                        <option value="end">Kết thúc Với</option>
                      </select>
                      <md-input-container class="full-width">
                        <input #inName mdInput placeholder="Enter keyword">
                      </md-input-container>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox margin-0">
                    <md-checkbox [(ngModel)]="mobileCheck"> Mobile</md-checkbox>
                    <div [hidden]="!mobileCheck" class="filter-details">
                      <select #slMobile name="" id="" class="form-control">
                        <option value="like">Chứa</option>
                        <option value="unlike">Không Chứa</option>
                        <option value="="> = </option>
                        <option value="<>"> <> </option>
                        <option value="null">Còn Trống</option>
                        <option value="full">Không Trống</option>
                        <option value="begin">Bắt Đầu Với</option>
                        <option value="end">Kết thúc Với</option>
                      </select>
                      <md-input-container class="full-width">
                        <input #inMobile mdInput maxlength="12" placeholder="Enter number" value="">
                        <md-hint align="end"></md-hint>
                      </md-input-container>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox margin-0">
                    <md-checkbox [(ngModel)]="adCheck" class=""> Address</md-checkbox>
                    <div [hidden]="!adCheck" class="filter-details">
                      <select #slAddress name="" id="" class="form-control">
                        <option value="like">Có Chứa</option>
                        <option value="unlike">Không Chứa</option>
                        <option value="="> = </option>
                        <option value="<>"> <> </option>
                        <option value="null">Còn Trống</option>
                        <option value="full">Không Trống</option>
                        <option value="begin">Bắt Đầu Với</option>
                        <option value="end">Kết thúc Với</option>
                      </select>
                      <md-input-container class="full-width">
                        <input #inAddress mdInput placeholder="Enter address" value="">
                        <md-hint align="end"></md-hint>
                      </md-input-container>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="checkbox margin-0">
                    <md-checkbox [(ngModel)]="dateCheck" class=""> Ngày Khởi Tạo</md-checkbox>
                    <div [hidden]="!dateCheck" class="filter-details">
                      <select #slDate name="" id="" class="form-control">
                        <option value="=">Vào Lúc</option>
                        <option value="before">Trước Ngày</option>
                        <option value="after">Sau Ngày</option>
                        <option value="today">Hôm Nay</option>
                        <option value="yesterday">Hôm Qua</option>
                        <option value="thisWeek">Tuần Này</option>
                        <option value="thisMonth">Tháng Này</option>
                        <option value="thisYear">Năm Này</option>
                        <option value="null">Còn Trống</option>
                        <option value="full">Không Trống</option>
                      </select>
                      <md-input-container class="full-width">
                        <input #inDate mdInput type="date">
                        <md-hint align="end"></md-hint>
                      </md-input-container>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="margin-0" [hidden]="hiddenBtnSearch">
                    <button (click)="filter()" class="btn btn-success">Áp dụng lọc</button>
                    <button (click)="endFilter()" class="btn btn-danger">Hủy</button>
                  </div>
                </td>
              </tr>
            </table>
          </div>
          <div class="col-md-9 padding-0">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>
                    <ss-multiselect-dropdown [texts]="myTexts" [settings]="mySettings" [options]="arrKeyList" [(ngModel)]="optionsModel" (ngModelChange)="onChange($event)"></ss-multiselect-dropdown>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
                      <span class="fa fa-plus"></span>
                    </button>
                  </th>
                  <th>ID</th>
                  <th>Name</th>
                  <th *ngFor="let i of displayKeyColumn">{{i}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let i of arrDisplay">
                  <td></td>
                  <td>{{i['id']}}</td>
                  <td>{{i['name']}}</td>
                  <td *ngFor="let j of displayKeyColumn">{{i[j]}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination pull-right">
              <li><a href="#" *ngIf="prevPage" (click)="btnPrevPage()">&laquo;</a></li>
              <li [ngClass]="setClassAcitve(i.index+1)" *ngFor="let i of pagination;"><a href="#" (click)="clickGetAPI(i.url)">{{i.index+1}}</a></li>
              <li><a href="#" *ngIf="nextPage" (click)="btnNextPage()">&raquo;</a></li>
            </ul>

          </div>
        </div>


      </div>
      <!-- /.box-body -->
      <!--<div class="box-footer">
        Footer
      </div>-->
      <!-- /.box-footer-->
    </div>
    <!-- /.box -->

  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
