<style>
  html:before {
    content: "Zoho CRM";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(26, 32, 43);
    z-index: 1000;
    font-size: 42px;
    color: #fff;
    text-align: center;
    line-height: 100vh;
    text-transform: uppercase;
    font-family: ProximaNovaBold;
  }

  @-webkit-keyframes loading-breathe {
    from {
      color: #424040;
    }
    to {
      color: #fff;
    }
  }

  @keyframes loading-breathe {
    from {
      color: #424040;
    }
    to {
      color: #fff;
    }
  }

  .page_initial_loading_hide:before {
    display: none;
  }

</style>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="row zoho-header">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h5>Tất Cả Hoạt Động</h5>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 ">
        <button class="smallPlusGraybtn newbutton pull-right" style="align-items: flex-start;text-align: center;" type="button">Công Việc</button>
        <button class="smallPlusGraybtn newbutton pull-right" style="align-items: flex-start;text-align: center;" type="button">Sự Kiện</button>
        <button class="smallPlusGraybtn newbutton pull-right" style="align-items: flex-start;text-align: center;" type="button">Cuộc Gọi</button>
      </div>
    </div>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Default box -->
    <div class="box">
      <div class="box-body" style="padding : 0px">
        <div class="zoho-content" style="padding : 0px">
          <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 kvtlistbgheader overflhidden" style="padding : 0">
            <div class="kvtlistbg positionRelative pB5 lightbdr">
              <div class="leftContainerHead" style="height: 58px;">
                <div class="pL5per pR5per pT27 pB5">
                  <div id="other_head" class="proximas fontSmoothAntialiased f17 w85per ellipsistext" title="Khách hàng" style="font-size: 17px; height: 25px;">
                    Khác
                    <a href="#activity-category-list" aria-controls="home" role="tab" data-toggle="tab" class="leftheaderBack kanbanviewImages cursorPointer"
                      style="display: inline;"></a>
                  </div>
                </div>
              </div>
              <div class="leftContainerctn positionRelative w100per ps-container ps-theme-default overflhidden" id="other_leftContainerctn"
                style="overflow: hidden !important;">
                <ul id="other_Container" class="m0 p0 positionRelative">
                  <ng-template ngFor let-i [ngForOf]="activities">
                    <li id="acTab_{{i.id}}" *ngIf="i.type=='event'" (click)="getActivity(i.id)" class="pL5per pR5per pB0 positionRelative cursorpointer">
                      <a href="#{{i.id}}" (click)="addTab(i.id,i.name)" role="tab" data-toggle="tab">
                        <div class="overflhidden bordergraybot" style="border-bottom-color: rgb(238, 238, 238);">
                          <div class="pT20 pB20 tkInnerInfo dIB w100per">
                            <div class="dIB w100per">
                              <span class="fa  fa-calendar EventsActivity fl"></span>
                              <span id="name" class="fL font16 mw35per ProximaNovaRegular fontSmoothAntialiased overflhidden" style="text-overflow: ellipsis;white-space:nowrap; ">
                              <a href="#"><span id="Subject" title="Sự kiện mới">{{i.name}}</span></a>
                      </span>
                      <span class="fR mW60per colorKsmalltext alignright  grayDate" style="width: auto;" title="Thứ Ba Tháng 6 27, 2017 09:00 SÁ  -  9:30 SÁ"> Tháng 6 27,  9:00 SÁ - 9:30 SÁ </span>
                      </div>
                      <div class="dIB w100per mT2 mB2">
                        <a href="#" class="colorKsmalltext dIB fL mW43per fL ellipsistext  ProximaNovaRegular">Anh Khoa</a>
                        <a id="Status" class="colorlightGray2  dIB fL  mL10 test ellipsistext fontSmoothAntialiased  ProximaNovaRegular" title="test">test</a>
                      </div>
                      </div>
                      </div>
                      </a>
                    </li>
                    <li id="acTab_{{i.id}}" *ngIf="i.type=='call'" (click)="getActivity(i.id)" class="acTab pL5per pR5per pB0 positionRelative cursorpointer">
                      <a href="#{{i.id}}" (click)="addTab(i.id,i.name)" role="tab" data-toggle="tab">
                        <div class="overflhidden bordergraybot">
                          <div class="pT20 pB20 tkInnerInfo dIB w100per">
                            <div class="dIB w100per">
                              <span class="fa  fa-phone CallsActivity fl"></span>
                              <span id="name" class="fL font16 mw35per ProximaNovaRegular fontSmoothAntialiased overflhidden" style="text-overflow: ellipsis;white-space:nowrap; ">
                              <a href="#"><span id="Subject" title="Cuộc Gọi Mới">{{i.name}}</span></a>
                      </span>
                      <span class="fR  colorKsmalltext alignright  grayDate" style="width: 32%;" title=" Tháng 6 21 "> Tháng 6 21 </span>
                      </div>
                      <div class="overflhidden fL w65per mB1" title="Case: Tiêu đề yêu cầu">
                        <span id="relatedto" class="colorlightGray2 dIB fL  ellipsistext mW43per vmiddle">  
                              <a class="kt_smalltxt" id="" href="/crm/EntityInfo.do?module=Cases&amp;id=2618607000000121356" target="_blank">Tiêu đề yêu cầu</a> 
                            </span>
                      </div>
                      <span class="fR mW35per font8 tkvPriority colorKsmalltext ellipsistext cursorPointer ProximaNovaRegular" title="">22 Phút</span>
                      <div class="dIB w100per mT2 mB2">
                        <a href="#" class="colorKsmalltext dIB fL mW43per fL ellipsistext  ProximaNovaRegular">Anh Khoa</a>
                        <a id="Status" class="colorlightGray2  dIB fL  mL10 Đi ellipsistext fontSmoothAntialiased  ProximaNovaRegular" title="test">test</a>
                      </div>
                      <div class="clearB"></div>
                      </div>
                      </div>
                      </a>
                    </li>
                  </ng-template>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7  kanbanTaskDetailctn entitypopup overflhidden kventitydetailspage kanbanTaskDetailContainer" style="border-right : 1px solid #d4d4d4">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding:0px">
                <div role="tabpanel">
                  <ul class="nav nav-tabs" role="tablist" style="margin: 0px;margin-left: 15px;padding: 0;">
                    <li style="padding : 0" *ngIf="displayPrev">
                      <a href="javascript:void(0)">
                        <span (click)="prevTab()" class="fa fa-arrow-left"></span>
                      </a>
                    </li>
                    <li style="padding : 0;border : solid 1px #e4e4e4;" class="tab-activity" id="tab_{{i.id}}" role="presentation" *ngFor="let i of tabsDisplay;let in = index">
                      <a href="#{{i.id}}" (click)="chooseTab(i.id)"  aria-controls="home" role="tab" data-toggle="tab">{{i.name}} <span (click)="closeTab(in)" class="closeTab">X</span></a>                      
                    </li>
                    <li style="padding : 0" *ngIf="displayNext">
                      <a href="javascript:void(0)">
                        <span class="fa fa-arrow-right" (click)="nextTab()"></span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="tab-content">
              <ng-template ngFor let-i [ngForOf]="tabs" let-index="index">
                <div role="tabpanel"  class="tab-pane tab-activity" id="{{i.id}}">
                  <activity-detail [value]="getActivity(i.id)"></activity-detail>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 kanbanTaskDetailRightContainer fL positionRelative" style="visibility: visible;">
            <div id="fromTaskPage">
              <div class="tb_newmenu">
                <a href="javascript:;" class="sel" id="timeLine_dv" onclick="getTimeLine(this)">Lịch sử</a>
                <div class="cB"></div>
              </div>
              <div id="timeLineContainerDataDV" style="overflow-y: auto; height: 925px;">
                <div id="krp_Rightpanel_TimelineContainer" class="pR krp_containers">
                  <div class="krp_entity_timeline_item">
                    <div class="krp_entity_timeline_item_content">
                      <div class="krp_entity_timeline_subject">
                        <span>Sự kiện đã thêm</span>
                        <span class="tl_s">-</span>
                        <span class="pt10" title="Sự kiện">
                          <a href="#" target="_blank" class="TimeLineHighTxt">Sự kiện mới</a>
                        </span>
                        <div>
                          <span class="tl_by">bởi</span>
                          <span class="f12" purpose="showUserBC">Anh Khoa</span>
                          <span class="tl_dat" title="Thứ hai thg 6 26, 2017 06:23 CH">thg 6 26, 2017</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.box -->
  </section>
  <!-- /.content -->
</div>
<!-- /.content-wrapper -->
